.wrap {
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 36px 12px 12px;
  background-color: #fff;
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: #a9aeb8;
  padding: 24px 0;
}

.content {
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.datePicker {
  background-color: #fff;
}
